@import 'nib'
@import 'fonts'
@import 'common'

#bio
  h2
    background: rgba(241, 155, 125, 0.5)
  .holder
    img
      float: right
      margin-left: 30px
      padding: 10px
      background: white
      border: 1px solid gray