lightergray = #f7f7f7
lightgray = #eee
gray = #ddd
grayalpha = rgba(221,221,221,0.5)
grayer = #aaa
darkgray = #666
darkergray = #333

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  font-family: 'agenda-mediumregular', sans-serif
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  background: url('/img/background.png')
  color: darkergray

a
  color: darkgray
  text-decoration: none
  &:hover
    color: black
    border-bottom: 1px solid darkgray

img
  display: block

.holder
  clearfix()
  max-width: 1060px
  padding: 0 30px
  margin: 0 auto

header
  min-height: 100px
  padding-bottom: 20px
  h1
    float: left
    margin-top: 30px
    a
      display: block
      width: 139px
      height: 40px
      background: url('/img/logo.png')
      text-indent: -9999px
      background-size: 139px 80px
      &:hover
        background-position: 0 -40px
        border: 0
  nav, .social
    float: right
    min-height: 33px
    margin-top: 35px
    padding-left: 30px
  nav
    clearfix()
    a
      display: block
      float: left
      line-height: 30px
      text-transform: uppercase
      font-size: 16px
      margin: 0 30px 10px 0
      border-bottom: 3px solid transparent
      &:hover
        border-width: 3px
      &:last-child
        margin-right: 0
      &.active
        color: darkergray
        pointer-events: none
      &:hover, &.active
        &.news
          border-color: rgb(239, 159, 164)
        &.concerts
          border-color: rgb(153, 138, 192)
        &.photos
          border-color: rgb(146, 176, 219)
        &.videos
          border-color: rgb(151, 204, 158)
        &.bio
          border-color: rgb(241, 155, 125)
        &.contact
          border-color: rgb(254, 245, 158)
  .social
    clearfix()
    a
      display: block
      float: left
      width: 30px
      height: 30px
      background: darkgray
      margin: 0 10px 10px 0
      border-radius: 15px
      color: white
      text-align: center
      line-height: 30px
      font-size: 18px
      &:hover
        border: 0
        background: darkergray

footer
  min-height: 50px
  border-top: 1px solid gray
  padding: 15px 0
  nav
    clearfix()
    float: left
    min-height: 22px
    margin-bottom: 10px
    a
      display: block
      float: left
      line-height: 20px
      text-transform: uppercase
      font-size: 13px
      margin: 0 20px 5px 0
      border-bottom: 2px solid transparent
      &:hover
        border-width: 2px
      &.active
        color: darkergray
        border-bottom: 2px solid darkgray
        pointer-events: none
      &:hover, &.active
        &.news
          border-color: rgb(239, 159, 164)
        &.concerts
          border-color: rgb(153, 138, 192)
        &.photos
          border-color: rgb(146, 176, 219)
        &.videos
          border-color: rgb(151, 204, 158)
        &.bio
          border-color: rgb(241, 155, 125)
        &.contact
          border-color: rgb(254, 245, 158)
  p
    float: right
    line-height: 20px
    font-size: 13px
    text-transform: uppercase

.page
  min-height: 500px
  h2
    font-family: 'agenda-boldregular', sans-serif
    font-size: 30px
    font-weight: normal
    text-transform: uppercase
    color: darkgray
    height: 60px
    line-height: 60px
    background: grayalpha
    span
      display: block
      max-width: 1060px
      margin: 0 auto
      padding: 0 30px
  .holder
    padding: 30px 30px 60px
    p
      font-size: 16px
      line-height: 1.4em
      margin-bottom: 15px

@media (max-width: 1060px)
  header
    h1, nav, .social
      float: none
    nav, .social
      padding: 0
    nav
      margin-top: 25px
  footer
    nav, p
      float: none