@font-face
  font-family: 'agenda-boldcondensedregular'
  src: url('/fonts/agenda_bold_condensed-webfont.eot')
  src: url('/fonts/agenda_bold_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/agenda_bold_condensed-webfont.woff') format('woff'),
         url('/fonts/agenda_bold_condensed-webfont.ttf') format('truetype'),
         url('/fonts/agenda_bold_condensed-webfont.svg#agenda-boldcondensedregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'agenda-boldregular'
  src: url('/fonts/agenda_bold-webfont.eot')
  src: url('/fonts/agenda_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/agenda_bold-webfont.woff') format('woff'),
         url('/fonts/agenda_bold-webfont.ttf') format('truetype'),
         url('/fonts/agenda_bold-webfont.svg#agenda-boldregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'agenda-lightitalicregular'
  src: url('/fonts/agenda_light_italic-webfont.eot')
  src: url('/fonts/agenda_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/agenda_light_italic-webfont.woff') format('woff'),
         url('/fonts/agenda_light_italic-webfont.ttf') format('truetype'),
         url('/fonts/agenda_light_italic-webfont.svg#agenda-lightitalicregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'agenda-lightregular'
  src: url('/fonts/agenda_light-webfont.eot')
  src: url('/fonts/agenda_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/agenda_light-webfont.woff') format('woff'),
         url('/fonts/agenda_light-webfont.ttf') format('truetype'),
         url('/fonts/agenda_light-webfont.svg#agenda-lightregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'agenda-mediumcondensedregular'
  src: url('/fonts/agenda_medium_condensed-webfont.eot')
  src: url('/fonts/agenda_medium_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/agenda_medium_condensed-webfont.woff') format('woff'),
         url('/fonts/agenda_medium_condensed-webfont.ttf') format('truetype'),
         url('/fonts/agenda_medium_condensed-webfont.svg#agenda-mediumcondensedregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'agenda-mediumitalicregular'
  src: url('/fonts/agenda_medium_italic-webfont.eot')
  src: url('/fonts/agenda_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/agenda_medium_italic-webfont.woff') format('woff'),
         url('/fonts/agenda_medium_italic-webfont.ttf') format('truetype'),
         url('/fonts/agenda_medium_italic-webfont.svg#agenda-mediumitalicregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'agenda-mediumregular'
  src: url('/fonts/agenda_medium-webfont.eot')
  src: url('/fonts/agenda_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/agenda_medium-webfont.woff') format('woff'),
         url('/fonts/agenda_medium-webfont.ttf') format('truetype'),
         url('/fonts/agenda_medium-webfont.svg#agenda-mediumregular') format('svg')
  font-weight: normal
  font-style: normal