@import 'nib'
@import 'fonts'
@import 'common'

#news
  h2
    background: rgba(239, 159, 164, 0.5)
  .holder
    .item
      margin-bottom: 30px
      h3
        font-size: 16px
        line-height: 1em
        margin-bottom: 5px
      h4
        font-size: 12px
        font-weight: normal
        color: darkgray
        margin-bottom: 10px
      p
        margin-bottom: 10px