@import 'nib'
@import 'fonts'
@import 'common'

#photos
  .holder
    img
      display: block
      float: left
      margin-right: 30px
      padding: 10px
      background: white
      border: 1px solid gray
      -webkit-filter: grayscale(1)
      &:hover
        -webkit-filter: grayscale(0)
