@import 'nib'
@import 'fonts'
@import 'common'

#photos
  h2
    background: rgba(146, 176, 219, 0.5)
  .holder
    img
      display: block
      float: left
      margin: 0 30px 30px 0
      padding: 10px
      background: white
      border: 1px solid gray
      -webkit-filter: grayscale(1)
      &:hover
        -webkit-filter: grayscale(0)
