@import 'nib'
@import 'fonts'
@import 'common'

#videos
  h2
    background: rgba(151, 204, 158, 0.5)
  .holder
    .videos-container
      clearfix()
      iframe
        display: block
        float: left
        margin: 0 30px 30px 0
        &:nth-child(2n)
          margin-right: 0