extends layout

block title
  title Bio / Gladys

block meta
  meta(name='description', content='A very very STUPID GUY is coming...')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('bio')

block body
  #bio.page
    h2: span Bio
    .holder
      img(src='/img/bio.jpg')
      p Ce qui résume le projet Gladys, c’est avant tout l’ENERGIE.
      p Berçée par la pop anglaise et américaine mais ayant toujours eu un goût prononcé pour le rock, notre artiste souhaite réunir l’un et l’autre dans des titres à la fois mélodiques et rythmés.
      p Influencée par Pink, les Ting Tings, Gwen Stefani, Gossip ou encore Skunk Anansie, Gladys vous propose un cocktail musical détonant, accrocheur et très féminin.
      p Désireuse de ne rien laisser au hasard, Gladys c’est aussi un look, un visuel, et un live qui ne vous laisseront pas indifférents ! 
      p Récemment élue révélation NRJ 2014, après Stromae et Puggy, Gladys est remontée à bloc et compte bien vous prouver qu’elle mérite le titre ! 