extends layout

block title
  title Concerts / Gladys

block meta
  meta(name='description', content='A very very STUPID GUY is coming...')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('concerts')

block javascripts
  != js('concerts')

block body
  #concerts.page
    h2: span Concerts

  script(id='concerts-template', type='text/x-handlebars-template')
    .holder
      table(cellspacing='0', cellpadding='0')
        {{#each concerts}}
        tr
          td {{date}}
          td: strong {{venue}}
          td {{location}}
          td
            a(href="{{url}}", target='_blank') Tickets
        {{/each}}