extends layout

block title
  title Contact / Gladys

block meta
  meta(name='description', content='Management, presse et booking')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('contact')

block body
  #contact.page
    h2: span Contact
    .holder
      p Management : <a href='mailto:mgmt@gladysmusic.com'>mgmt@gladysmusic.com</a>
      p Presse : <a href='mailto:press@gladysmusic.com'>press@gladysmusic.com</a>
      p Booking : <a href='mailto:mathieu@popline.be'>mathieu@popline.be</a>