extends layout

block title
  title Gladys

block meta
  meta(name='description', content='A very very STUPID GUY is coming...')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('home')

block body
  #photo
  #home.page
    .holder