- nav = [ { name: 'News', href: '/news', className: 'news' }, { name: 'Concerts', href: '/concerts', className: 'concerts' }, { name: 'Photos', href: '/photos', className: 'photos' }, { name: 'Videos', href: '/videos', className: 'videos' }, { name: 'Bio', href: '/bio', className: 'bio' }, { name: 'Contact', href: '/contact', className: 'contact' } ]

!!! 5
//if lt IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie10.lt-ie9(lang='en')
//if IE 9
  html.no-js.lt-ie10(lang='en')
//[if gt IE 9]><!
html.no-js(lang='en')
  //<![endif]
  
  head
    block title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    block meta
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    block stylesheets
  
  body

    header
      .holder
        h1: a(href='/') Gladys
        .social
          a.fa.fa-facebook(href='http://www.facebook.com/Gladysofficial', target='_blank', title='Facebook')
          a.fa.fa-twitter(href='http://twitter.com/Gladys_music', target='_blank', title='Twitter')
          a.fa.fa-youtube-play(href='http://www.youtube.com/user/GladysMusicChannel/videos', target='_blank', title='YouTube')
          a.fa.fa-music(href='https://itunes.apple.com/be/artist/gladys/id134564760?l=fr', target='_blank', title='iTunes')
        nav
          each val in nav
            if currentPath === val.href
              a.active(href= val.href, class= val.className)= val.name
            else
              a(href= val.href, class= val.className)= val.name

    #content
      block body

    footer
      .holder
        nav
          each val in nav
            if currentPath === val.href
              a.active(href= val.href, class= val.className)= val.name
            else
              a(href= val.href, class= val.className)= val.name
        p &copy 2014 Gladys

    script(src='/js/dist/website.min.js')
    block javascripts
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-192063-4']);
      _gaq.push(['_setDomainName', window.location.host]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
