extends layout

block title
  title News / Gladys

block meta
  meta(name='description', content='A very very STUPID GUY is coming...')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('news')

block body
  #news.page
    h2: span News
    .holder