extends layout

block title
  title News / Gladys

block meta
  meta(name='description', content='Toutes les news à propos de Gladys')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('news')

block body
  #news.page
    h2: span News
    .holder
      .item
        h3 New Single Out Now!
        h4 12 septembre 2014
        p Ça y est, c'est aujourd'hui que sort le nouveau single de Gladys "Lucky in Love" ! Le clip arrive dans quelques jours mais voici déjà le lien pour le télécharger sur iTunes : 
          a(href='https://itunes.apple.com/fr/album/lucky-in-love-single/id917282084?l=en') https://itunes.apple.com/fr/album/lucky-in-love-single/id917282084?l=en
      .item
        h3 Lucky in Love - le prochain single de Gladys !
        h4 28 aout 2014
        p
          a(href='http://www.popline.be') Popline.be
          |  et Sony Music viennent d'annoncer la sortie du prochain single de Gladys pour le 12 septembre prochain, cette chanson aura pour titre Lucky in Love, il a été composé et produit en collaboration avec les Siamese Brothers.
      .item
        h3 Nouveaux concerts annoncés !
        h4 14 aout 2014
        p Gladys sera sur scène plusieurs fois à la rentrée, le 29 aout à Verviers pour Fiesta City, le 20 septembre aux fêtes de Wallonie de Namur et au NRJ in the Park de Charleroi, le 26 septembre aux fêtes de Wallonie de Andenne.
        p En octobre elle sera aussi en concert le 10 à Tubize dans le cadre de Solidar'Ittre et le 18 à Chaudfontaine pour Musique à la Source.

