extends layout

block title
  title Photos / Gladys

block meta
  meta(name='description', content='A very very STUPID GUY is coming...')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('static')

block body
  #photos.page
    h2: span Photos
    .holder