extends layout

block title
  title Videos / Gladys

block meta
  meta(name='description', content='A very very STUPID GUY is coming...')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('static')

block body
  #videos.page
    h2: span Videos
    .holder