extends layout

block title
  title Videos / Gladys

block meta
  meta(name='description', content='A very very STUPID GUY is coming...')
  meta(property='og:image', content='http://gladysmusic.com/img/thumbnail.jpg')

block stylesheets
  != css('videos')

block body
  #videos.page
    h2: span Videos
    .holder
      .videos-container
        iframe(width="485", height="273", src="//www.youtube.com/embed/P7Xi5M3OqTA", frameborder="0", allowfullscreen= true)
        iframe(width="485", height="273", src="//www.youtube.com/embed/v4YJgrMYAOs", frameborder="0", allowfullscreen= true)